.projects {
  padding: 100px 7%;
  background: #f8fafc;
}

.projects-header {
  max-width: 650px;
  margin-bottom: 50px;
}

.projects-header p {
  margin-bottom: 10px;
  color: #2563eb;
  font-weight: 600;
}

.projects-header h2 {
  margin-bottom: 16px;
  font-size: clamp(36px, 5vw, 52px);
  color: #111827;
}

.projects-header span {
  color: #6b7280;
}

/* Desktop*/

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}


/* Tablet */

@media (max-width: 900px) {
  .projects {
    padding: 80px 5%;
  }

  .projects-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 22px;
  }
}


/* mobile */

@media (max-width: 600px) {
  .projects {
    padding: 65px 5% 80px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}